[Desktop Entry]
Name=Plume Relax
Exec=qmlscene $@ Main.qml
Icon=plumerelax.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color-Header=#4e3c91
X-Ubuntu-Splash-Color-Footer=#0e1c2f
